<h2> Total number of results for <%= @food %>:</h2>
<% require "pry"; binding.pry %>
<div class="total">
<h3> <%= @foods.count %></h3>
</div>
<ul>
  <li>
    <p><b> GTIN/UPC:</b></p>
    <%= @foods.gtinUpc %>
    <p><b> Description:</b></p>
    <%= @foods.description %>
    <p><b> Brand:</b></p>
    <%= @foods.brand %>
    <p><b> Ingredients:</b></p>
    <%= @foods.ingredients %>
  </li>
</ul>
