<h2> Total number of results for <%= @food %>:</h2>
<div class="total">
<h3> <%= @foods.count %></h3>
</div>
<ul>
  <% @foods.each do |food| %>
  <li>
    <p><b> GTIN/UPC:</b></p>
    <%= food.gtinUpc %>
    <p><b> Description:</b></p>
    <%= food.description %>
    <p><b> Brand:</b></p>
    <%= food.brand %>
    <p><b> Ingredients:</b></p>
    <%= food.ingredients %>
  </li>
<% end %>
</ul>
